@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=B612+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          supported by Chrome, Edge, Opera and Firefox */
}

.confirm-container {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.7);
}

.character-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.main-screen {
    position: absolute;
    height: 100vh;
    width: 100vw;
    left: 0;
    z-index: 100;
}

/* CHARACTER LIST */
.characters-list {
    /* display: none; */
    position: absolute;

    width: 22%;
    height: 40vh;

    /* TESTING 6vh */
    /* right: 6vh; */
    right: -55vh;
    top: 50%;
    transform: translateY(-50%);
    border-radius: .6vh;

    padding: 30px;
    padding-bottom: 30vh;
    padding-top: 12vh;

    background-color: rgba(0, 0, 0, 0.4);
}

/* CHARACTER LIST HEADER */
.character-list-header {
    position: absolute;

    top: 3vh;
    left: 3vh;

    width: 100%;
    height: 8%;
    color: white;
}

.character-list-header > p {
    font-family: 'Lato', monospace;
    font-weight: bold;
    font-size: 1.5vh;
}

.character-list-header-select {
    position: absolute;

    top: 6vh;
    left: 3vh;

    width: 100%;
    height: 8%;
    color: white;
}

.character-list-header-select > p {
    font-family: 'Lato', monospace;
    font-weight: bold;
    font-size: 2.5vh;
}

/* CHARACTER BUTTON */
.character {
    position: relative;

    width: 100%;
    height: 75px;
    
    margin-top: 2px;

    font-family: 'Lato' monospace;
    color:rgb(231, 231, 231);

    border-radius: .2vh;

    border: 2px solid rgb(126, 126, 126);
    transition: .1s;
}

.character:hover {
    color: white;
    transform: skew(-5deg);
    border-right: 4px solid rgba(255, 255, 255, 1.0); 
    border-left: 6px solid rgba(255, 255, 255, 1.0); 
    background: rgb(255,255,255);
    background: -moz-linear-gradient(90deg, rgba(255,255,255,0.304359243697479) 0%, rgba(0,0,0,0.19511554621848737) 55%);
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,0.304359243697479) 0%, rgba(0,0,0,0.19511554621848737) 55%);
    background: linear-gradient(90deg, rgba(255,255,255,0.304359243697479) 0%, rgba(0,0,0,0.19511554621848737) 55%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1);
}

/* CHARACTER BUTTON SELECTED */
.char-selected {
    color: white;
    transform: skew(-5deg);
    border-right: 4px solid rgba(255, 255, 255, 1.0); 
    border-left: 6px solid rgba(255, 255, 255, 1.0); 
    background: rgb(255,255,255);
    background: -moz-linear-gradient(90deg, rgba(255,255,255,0.304359243697479) 0%, rgba(0,0,0,0.19511554621848737) 55%);
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,0.304359243697479) 0%, rgba(0,0,0,0.19511554621848737) 55%);
    background: linear-gradient(90deg, rgba(255,255,255,0.304359243697479) 0%, rgba(0,0,0,0.19511554621848737) 55%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1);
}

/* CHARACTER BUTTON ICON */
#slot-icon {
    position: relative;

    width: 100%;
    height: 100%;
    left: 2vh;
    top: 1vh;
}

/* CHARACTER BUTTON NAME */
#slot-name {
    position: absolute;

    width: 100%;
    height: 100%;

    left: 8vh;
    top: 15%;
    transform: translateY(-15%);


    font-size: 17px;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Lato' monospace;
    color: rgb(255, 255, 255);
}

/* CHARACTER BUTTON DESCRIPTION */
#slot-name-description {
    position: absolute;

    width: 100%;
    height: 100%;

    left: 8vh;
    top: 35%;
    transform: translateY(-25%);

    font-size: 14px;
    line-height: 80px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Lato' monospace;
    color: rgb(255, 255, 255, 0.7);

}

/* BOTTOM BUTTONS DESCRIPTION */
#button-name-description {
    position: absolute;

    width: 100%;
    height: 100%;

    left: 8vh;
    top: 35%;
    transform: translateY(-25%);
    
    font-size: 14px;
    line-height: 80px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Lato' monospace;
    color: rgb(255, 255, 255, 0.7);
}

/* BOTTOM BUTTONS ICONS */
#button-icon {
    position: relative;

    width: 100%;
    height: 100%;
    left: 2vh;
    top: 1vh;
}

/* PLAY BUTTON */
.play-button {
    position: relative;

    width: 100%;
    height: 75px;

    margin-top: 2px;
    transition: .1s ease-in-out;
    top: 20%;
    border-radius: .2vh;
    border: 2px solid rgb(126, 126, 126);

    font-family: 'Lato' monospace;
    color:rgb(231, 231, 231);
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
}

.play-btn {
    position: absolute;

    width: 100%;
    height: 100%;

    left: 8vh;
    top: 15%;
    transform: translateY(-15%);

    font-size: 17px;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Lato' monospace;
    color: rgb(255, 255, 255);
}

.play-button:hover {
    color: white;
    transform: skew(-5deg);
    border-right: 4px solid rgba(255, 255, 255, 1.0); 
    border-left: 6px solid rgba(255, 255, 255, 1.0); 
    background: rgb(255,255,255);
    background: -moz-linear-gradient(90deg, rgba(255,255,255,0.304359243697479) 0%, rgba(0,0,0,0.19511554621848737) 55%);
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,0.304359243697479) 0%, rgba(0,0,0,0.19511554621848737) 55%);
    background: linear-gradient(90deg, rgba(255,255,255,0.304359243697479) 0%, rgba(0,0,0,0.19511554621848737) 55%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1);
}


/* DELETE BUTTON */
.delete-button {
    position: relative;

    width: 100%;
    height: 75px;

    margin-top: 2px;
    transition: .1s ease-in-out;
    top: 20%;
    border-radius: .2vh;
    border: 2px solid rgb(126, 126, 126);

    font-family: 'Lato' monospace;
    color:rgb(231, 231, 231);
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
}

.delete-btn {
    position: absolute;

    width: 100%;
    height: 100%;

    left: 8vh;
    top: 15%;
    transform: translateY(-15%);

    font-size: 17px;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Lato' monospace;
    color: rgb(255, 255, 255);
}

.delete-button:hover {
    color: white;
    transform: skew(-5deg);
    border-right: 4px solid rgba(255, 255, 255, 1.0); 
    border-left: 6px solid rgba(255, 255, 255, 1.0); 
    background: rgb(255,255,255);
    background: -moz-linear-gradient(90deg, rgba(255,255,255,0.304359243697479) 0%, rgba(0,0,0,0.19511554621848737) 55%);
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,0.304359243697479) 0%, rgba(0,0,0,0.19511554621848737) 55%);
    background: linear-gradient(90deg, rgba(255,255,255,0.304359243697479) 0%, rgba(0,0,0,0.19511554621848737) 55%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1);
}

/* CLOSE DELETE MENU */
#close-del {
    position: absolute;
    right: 8px;
    bottom: 6px;
    color: rgba(255, 255, 255, 1.0);
    border-radius: 50%;
    font-size: 18px;
    transition: .3s ease-in-out;
}

#close-del:hover {
    color: rgba(0, 0, 0, 1.0);
}

/* DISCONNECT BUTTON */
.disconnect-button {
    position: relative;

    width: 100%;
    height: 75px;

    margin-top: 2px;
    transition: .1s ease-in-out;
    top: 20%;
    border-radius: .2vh;
    border: 2px solid rgb(126, 126, 126);

    font-family: 'Lato' monospace;
    color:rgb(231, 231, 231);
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
}

.disconnect-button:hover {
    color: white;
    transform: skew(-5deg);
    border-right: 4px solid rgba(255, 255, 255, 1.0); 
    border-left: 6px solid rgba(255, 255, 255, 1.0); 
    background: rgb(255,255,255);
    background: -moz-linear-gradient(90deg, rgba(255,255,255,0.304359243697479) 0%, rgba(0,0,0,0.19511554621848737) 55%);
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,0.304359243697479) 0%, rgba(0,0,0,0.19511554621848737) 55%);
    background: linear-gradient(90deg, rgba(255,255,255,0.304359243697479) 0%, rgba(0,0,0,0.19511554621848737) 55%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1);
}

.disconnect-btn {
    position: absolute;

    width: 100%;
    height: 100%;

    left: 8vh;
    top: 15%;
    transform: translateY(-15%);


    font-size: 17px;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Lato' monospace;
    color: rgb(255, 255, 255);
}

/* DISCONNECT CONFIRMATION */

.disconnect-confirmation {
    display: none;
    position: absolute;

    top: 50%;
    left: 71.7%;
    transform: translateY(-50%);

    width: 22.1%;
    height: 16vh;

    border-radius: .2vh;
    border: 2px solid rgb(126, 126, 126);

    background-color: rgba(0, 0, 0, 0.4);
}

.disconnect-confirmation-title {
    color:rgb(231, 231, 231);
    padding: 3vh;

    font-family: 'Lato' monospace;
    font-size: 1.7vh;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.disconnect-confirmation-buttons {
    position: absolute;

    width: 100%;
    height: 100%;
}

.disconnect-confirmation-button {
    position: relative;
    float: left;

    width: 33%;
    height: 5vh;

    margin-top: 2px;
    transition: .1s ease-in-out;
    top: .5vh;
    margin-left: 4.25vh;

    border-radius: .2vh;
    border: 2px solid rgb(126, 126, 126);

    font-family: 'Lato' monospace;
    color:rgb(231, 231, 231);
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
}

.disconnect-confirmation-button:hover {
    color: white;
    transform: skew(-5deg);
    border-right: 4px solid rgba(255, 255, 255, 1.0); 
    border-left: 6px solid rgba(255, 255, 255, 1.0); 
    background: rgb(255,255,255);
    background: -moz-linear-gradient(90deg, rgba(255,255,255,0.304359243697479) 0%, rgba(0,0,0,0.19511554621848737) 55%);
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,0.304359243697479) 0%, rgba(0,0,0,0.19511554621848737) 55%);
    background: linear-gradient(90deg, rgba(255,255,255,0.304359243697479) 0%, rgba(0,0,0,0.19511554621848737) 55%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1);
}


.disconnect-confirmation-btn {
    position: absolute;

    width: auto;
    height: 100%;

    left: 4.9vh;
    top: .30vh;
    /* transform: translateY(-15%); */

    font-size: 1.5vh;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Lato' monospace;
    color: rgb(255, 255, 255);
}

#button-icon-disc {
    position: absolute;

    width: 100%;
    height: 100%;
    
    left: 1vh;

    top: 23%;
}


/* DELETE CONFIRMATION */

.delete-confirmation {
    display: none;
    position: absolute;

    top: 50%;
    left: 71.7%;
    transform: translateY(-50%);

    width: 22.1%;
    height: 16vh;

    border-radius: .2vh;
    border: 2px solid rgb(126, 126, 126);

    background-color: rgba(0, 0, 0, 0.4);
}

.delete-confirmation-title {
    color:rgb(231, 231, 231);
    padding: 3vh;

    font-family: 'Lato' monospace;
    font-size: 1.7vh;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.delete-confirmation-buttons {
    position: absolute;

    width: 100%;
    height: 100%;
}

.delete-confirmation-button {
    position: relative;
    float: left;

    width: 33%;
    height: 5vh;

    margin-top: 2px;
    transition: .1s ease-in-out;
    top: .5vh;
    margin-left: 4.25vh;

    border-radius: .2vh;
    border: 2px solid rgb(126, 126, 126);

    font-family: 'Lato' monospace;
    color:rgb(231, 231, 231);
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
}

.delete-confirmation-button:hover {
    color: white;
    transform: skew(-5deg);
    border-right: 4px solid rgba(255, 255, 255, 1.0); 
    border-left: 6px solid rgba(255, 255, 255, 1.0); 
    background: rgb(255,255,255);
    background: -moz-linear-gradient(90deg, rgba(255,255,255,0.304359243697479) 0%, rgba(0,0,0,0.19511554621848737) 55%);
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,0.304359243697479) 0%, rgba(0,0,0,0.19511554621848737) 55%);
    background: linear-gradient(90deg, rgba(255,255,255,0.304359243697479) 0%, rgba(0,0,0,0.19511554621848737) 55%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1);
}


.delete-confirmation-btn {
    position: absolute;

    width: auto;
    height: 100%;

    left: 4.9vh;
    top: .30vh;
    /* transform: translateY(-15%); */

    font-size: 1.5vh;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Lato' monospace;
    color: rgb(255, 255, 255);
}

#button-icon-del {
    position: absolute;

    width: 100%;
    height: 100%;
    
    left: 1vh;

    top: 23%;
    /* transform: translateY(-50%); */
}

/* DELETE MENU */
.character-delete {
    display: none;
    position: relative;

    width: 25%;
    height: 28%;

    top: 50%;
    transform: translateY(-50%);
    left: 32px;

    border-radius: 0.4vh;

    font-family: 'Lato', monospace;
    font-weight: bold;

    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 19px 1px rgba(0,0,0,0.54);
}

.character-delete > p {
    padding-top: 9.5vh;
    font-size: 16px;
    overflow: visible !important;
    color: white;
    text-align: center;
}

.characters-delete-block-header {
    position: absolute;

    width: 100%;
    height: 11%;
    top: 1vh;

    color: rgb(255, 255, 255);

    text-align: center;
    font-family: 'Lato', monospace;
    font-weight: bold;
    font-size: 11px;

    border-radius: .1vh;
    font-size: 14px;
    line-height: 29px;
}

.characters-delete-block-header > p {
    font-family: 'Lato', monospace;
    font-weight: bold;
    overflow: visible !important;
}


.character-acceptdel-btn {
    position: absolute;

    width: auto;
    max-width: 50%;
    height: 36px;

    border-radius: .1vh;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.342);
    bottom: 5%;
    margin: 0 auto;
    left: 0;
    right: 0;
    border-radius: .2vh;
    border: 2px solid rgb(126, 126, 126);
    color:rgb(231, 231, 231);
    font-weight: bold;
    text-transform: uppercase;
    transition: all .1s ease-in-out;
}

.character-acceptdel-btn:hover {
    color: white;
    transform: skew(-5deg);
    border-right: 4px solid rgba(255, 255, 255, 1.0); 
    border-left: 6px solid rgba(255, 255, 255, 1.0); 
    background: rgb(255,255,255);
    background: -moz-linear-gradient(90deg, rgba(255,255,255,0.304359243697479) 0%, rgba(0,0,0,0.19511554621848737) 55%);
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,0.304359243697479) 0%, rgba(0,0,0,0.19511554621848737) 55%);
    background: linear-gradient(90deg, rgba(255,255,255,0.304359243697479) 0%, rgba(0,0,0,0.19511554621848737) 55%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1);
}


.character-acceptdel-btn > p {
    text-align: center;
    line-height: 34px;
    color: white;
    font-family: 'Lato', monospace;
    font-weight: bolder;
    font-size: 13px;
}

/* NEW REGISTER MENU */
.character-register-new {
    display: none;
    position: absolute;

    width: 20%;
    height: fit-content;

    /* TESTING 6vh */
    /* left: 6vh;  */
    left: -45vh;
    top: 50%;
    transform: translateY(-50%);

    padding-bottom: 20vh;
    padding-top: 12vh;
    border-radius: .6vh;

    background-color: rgba(0, 0, 0, 0.4);
}

#button-icon-reg {
    position: relative;

    width: 100%;
    height: 100%;
    left: 2vh;
    top: 1vh;
}

.character-list-header-return {
    position: absolute;
    color: white;
    font-size: 4vh;
    top: 3vh;
    margin-left: .5vh;
    left: 1vh;
    width: 5vh;
    height: 5vh;
    transition: all .2s ease-in-out;
}

.character-list-header-return:hover {
    color: rgba(255, 255, 255, 0.795);
}

.character-list-header-reg {
    position: absolute;

    top: 3vh;
    left: 7vh;

    width: 100%;
    height: 8%;
    color: white;
}

.character-list-header-reg > p {
    font-family: 'Lato', monospace;
    font-weight: bold;
    font-size: 1.5vh;
}

.character-list-header-select-reg {
    position: absolute;

    top: 6vh;
    left: 7vh;

    width: 100%;
    height: 10%;
    color: white;

    font-family: 'Lato', monospace;
    font-weight: bold;
    font-size: 2.5vh;
}

.char-register-inputs-new {
    position: absolute;
     top: 11.5vh;
     left: 0;
     width: 100%;
     height: 100%;
    font-family: 'Lato', monospace;
    font-weight: bold;
    border-radius: 8px;
    overflow: visible !important;
}

.char-reg-input-new {
    position: relative;
    float: left;

    width: 79%;
    height: 5.5vh;

    margin-left: 3.5vh;

    outline: none;
    border: none;

    color: white;
    max-width: 100%;

    padding: 4px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.808);
    box-shadow: inset 0px 0px 10px 0px rgba(255, 255, 255, 0.1);

    font-family: 'Lato', monospace;
    text-align: center;
    text-indent: .5vh;
    font-size: 2vh;

    border-bottom: .4vh solid #2f3640;
    transition: all .2s ease-in-out;
}

.char-reg-input-new:focus {
    border-bottom: .4vh solid #fbc531;
}
  
.char-reg-input-new:valid {
  border-bottom: .4vh solid #44bd32;
}

.char-reg-input-new:hover {
    background-color: rgb(34, 34, 34);
}

.firstname {
    /* display: none; */
    display: block;
}

.lastname {
    display: none;
}

.nationality {
    display: none;
}

.birthdate {
    display: none;
}

.gender {
    display: none;
}

.next-button {
    position: absolute;

    width: 80%;
    height: 75px;

    left: 3.5vh;
    top: 21vh;

    transition: .1s ease-in-out;
    border-radius: .2vh;
    border: 2px solid rgb(126, 126, 126);

    font-family: 'Lato' monospace;
    color:rgb(231, 231, 231);
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
}

.next-button:hover {
    color: white;
    transform: skew(-5deg);
    border-right: 4px solid rgba(255, 255, 255, 1.0); 
    border-left: 6px solid rgba(255, 255, 255, 1.0); 
    background: rgb(255,255,255);
    background: -moz-linear-gradient(90deg, rgba(255,255,255,0.304359243697479) 0%, rgba(0,0,0,0.19511554621848737) 55%);
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,0.304359243697479) 0%, rgba(0,0,0,0.19511554621848737) 55%);
    background: linear-gradient(90deg, rgba(255,255,255,0.304359243697479) 0%, rgba(0,0,0,0.19511554621848737) 55%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1);
}

.next-btn {
    position: absolute;

    width: 100%;
    height: 100%;

    left: 8vh;
    top: 15%;
    transform: translateY(-15%);

    font-size: 17px;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Lato' monospace;
    color: rgb(255, 255, 255);
}

.character-list-header-return {
    animation: fadeIn 1s ease-in-out both;
}

.character-list-header-reg {
    animation: fadeIn 1s ease-in-out both;
}
.character-list-header-select-reg {
    animation: fadeIn 1s ease-in-out both;
}

.fadeInAnim {
    animation: fadeIn 1s ease-in-out both;
}


/* SPINNER */

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  
  .char-waiting-spinner {
    display: none;
    position: absolute;
  
    width: fit-content;
    height: fit-content;
  
    margin: 0 auto;
    left: 0;
    right: 0;
  
    top: 50%;
    transform: translateY(-50%);
  
    text-align: center;
  }
  
  .char-waiting-spinner > p {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
  }
  
  .char-waiting-spinner > p::after {
    content: ' .';
    animation: dots 1s steps(5, end) infinite;
  }
  
  @keyframes dots {
    0%, 20% {
      color: rgba(255, 255, 255, 0);
      text-shadow:
      .25em 0 0 rgba(255, 255, 255, 0),
      .5em 0 0 rgba(255, 255, 255, 0);}
    40% {
      color: rgb(255, 255, 255);
      text-shadow:
      .25em 0 0 rgba(255, 255, 255, 0),
      .5em 0 0 rgba(255, 255, 255, 0);}  
    60% {
      text-shadow:
      .25em 0 0 rgb(255, 255, 255),
      .5em 0 0 rgba(255, 255, 255, 0);}      
    80%, 100% {
      text-shadow:
      .25em 0 0 rgb(255, 255, 255),
      .5em 0 0 rgb(255, 255, 255);}
    }  

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(-5%, 0, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

/* REGISTER MENU */
.character-register {
    display: none;
    position: relative;

    width: 25%;
    height: 28%;

    top: 125%;
    left: 32px;

    border-radius: 0.4vh;

    font-family: 'Lato', monospace;
    font-weight: bold;

    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 19px 1px rgba(0,0,0,0.54);
}

.characters-register-block-header {
    position: absolute;

    width: 100%;
    height: 11%;
    top: 1vh;

    color: rgb(255, 255, 255);

    text-align: center;
    font-family: 'Lato', monospace;
    font-weight: bold;
    font-size: 11px;

    border-radius: .1vh;
    font-size: 14px;
    line-height: 29px;
}

#close-reg {
    position: absolute;
    right: 8px;
    bottom: 6px;
    color: rgba(255, 255, 255, 1.0);
    border-radius: 50%;
    font-size: 18px;
    transition: .3s ease-in-out;
}

#close-reg:hover {
    color: rgba(0, 0, 0, 1.0);
}

.char-register-inputs {
    position: absolute;
    top: 15%;
    left: 12%;
    font-family: 'Lato', monospace;
    font-weight: bold;
    border-radius: 8px;
    overflow: visible !important;
}

.char-reg-input {
    position: relative;
    float: left;

    width: 120px;
    height: 30px;

    margin-left: 35px;
    margin-top: 13px;

    outline: none;
    border: none;


    color: white;
    max-width: 100%;

    padding: 4px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.808);
    box-shadow: inset 0px 0px 10px 0px rgba(255, 255, 255, 0.1);

    font-family: 'Lato', monospace;
    text-align: center;
    text-indent: .5vh;


    border-bottom: .4vh solid #2f3640;
    transition: .1s ease-in-out;
}

.char-reg-input:focus {
    border-bottom: .4vh solid #fbc531;
  }
  
.char-reg-input:valid {
  border-bottom: .4vh solid #44bd32;
}

.char-reg-input:hover {
    background-color: rgba(34, 34, 34, 0.808);
}

.notification-container {
    position: absolute;

    height: 8vh;
    width: 34vh;   
    top: -10vh;
    background-color: rgba(39, 39, 39, 0.4);
    margin: 0 auto;
    left: 3%;
    right: 0;

    border-radius: .2vh;
    border: 2px solid rgb(126, 126, 126);    
    
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.11);
    z-index: 140;
}

/* NOTIFICATIONS */
.notification-title {
    position: relative;

    top: 1.5vh;
    text-align: center;
    font-size: 1.5vh;
    font-family: 'Lato', monospace;
    font-weight: bold;
    text-transform: uppercase;

    color: #ffffff;
}

.notification-text {
    position: relative;

    height: 100%;
    width: 100%;

    top: 2.7vh;
    text-align: center;

    font-size: fit-content;
    font-family: 'Lato', monospace;
    font-weight: lighter;
    text-transform: uppercase;
    
    color: rgb(255, 255, 255);
    overflow: hidden;
}

select {
    position: relative;

    width: 81%;
    height: 5.5vh;

    margin-left: 3.5vh;

    outline: none;
    border: none;

    -webkit-appearance: none;
    -moz-appearance: none;
    text-align-last: center;
    text-overflow: '';

    color: white;
    max-width: 100%;

    padding: 4px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.808);
    box-shadow: inset 0px 0px 10px 0px rgba(255, 255, 255, 0.1);

    font-family: 'Lato', monospace;
    text-align: center;
    text-indent: .5vh;
    font-size: 2vh;

    border-bottom: .4vh solid #44bd32;
    transition: all .2s ease-in-out;
}

select:hover {
    background-color: rgba(34, 34, 34, 0.808);
}

#gender option {
    background-color: transparent;
    border: none;
    outline: none;
}

select::placeholder {
    text-align: center;
    
}

select::-ms-expand {
    display: none;
}

.char-reg-input::placeholder {
    color:white;
}

input[type="date"] {
    color: white;
    font-family: 'Lato', monospace;
    text-align: center;
}

input[type=date]::-webkit-calendar-picker-indicator{
    display: none;
}

input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type="date"]::-webkit-input-placeholder{ 
    visibility: hidden !important;
}

input[type="date"]::-webkit-clear-button {
    display: none;
}

#birthdate {
    color: white;
    text-align: center;
    font-family: 'Lato', monospace;
}

.character-reg-btn {
    position: absolute;

    width: auto;
    max-width: 50%;
    height: 36px;

    /* background-color: #ff3232; */
    border-radius: .1vh;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.342);
    bottom: 5%;
    margin: 0 auto;
    left: 0;
    right: 0;
    border-radius: .2vh;
    border: 2px solid rgb(126, 126, 126);
    color:rgb(231, 231, 231);
    font-weight: bold;
    text-transform: uppercase;
    transition: all .1s ease-in-out;
}

.character-reg-btn-disabled {
    pointer-events: none !important;
  
    opacity: 0.5;
  }

.disabled {
pointer-events: none !important;

opacity: 0.5;
}

.character-reg-btn > p {
    text-align: center;
    line-height: 34px;
    color: white;
    font-family: 'Lato', monospace;
    font-weight: bolder;
    font-size: 13px;
}

.character-reg-btn:hover {
    color: white;
    transform: skew(-5deg);
    border-right: 4px solid rgba(255, 255, 255, 1.0); 
    border-left: 6px solid rgba(255, 255, 255, 1.0); 
    background: rgb(255,255,255);
    background: -moz-linear-gradient(90deg, rgba(255,255,255,0.304359243697479) 0%, rgba(0,0,0,0.19511554621848737) 55%);
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,0.304359243697479) 0%, rgba(0,0,0,0.19511554621848737) 55%);
    background: linear-gradient(90deg, rgba(255,255,255,0.304359243697479) 0%, rgba(0,0,0,0.19511554621848737) 55%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1);
}

.character-list-header div{
    animation-name: an-height;
    animation-duration: .6s;
    z-index: 101;
}

@keyframes an-height {
    from{ height: 0px; }
}


::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 3px;
	background-color: rgba(255, 255, 255, 1.0);
}

::-webkit-scrollbar-thumb
{
	background-color: rgba(255, 255, 255, 1.0);
}

/* LOADING */


.loading-rondje {
    display: none;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    width: 150px;
    height: 150px;
    transform: translateY(-50%);
    text-align: center;
    padding: 1vh;
}

.loading-rondje > p {
    color: white;
    margin-top: 1vh;
    font-family: 'Lato';
    text-shadow: 1px 1px 0px #00000085;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}